body {
    margin: 0;
}
.screen1, .screen2 {
    position: absolute;
    top: 0;
    height: 100vh;
}
.screen1 {
    left: 0;
    width: 50vw; /* Première moitié de l'écran */
}
.screen2 {
    left: 50vw;
    width: 50vw; /* Deuxième moitié de l'écran */
}

.grid {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 10px;
}

.scrollable-div {
    height: 200px; /* Hauteur fixe de la div */
    border: 1px solid #000; /* Bordure pour visualiser la div */
    overflow-y: scroll; /* Activer le défilement vertical */
    overflow-x: hidden; /* Désactiver le défilement horizontal */
    padding-left: 13px;
}

.row {
    display: flex;
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-cell {
    font-weight: bold;
    background-color: lightgray;
}

.border {
    width: 20px;
    height: 50px;
}

.tile {
    width: 50px;
    height: 50px;
}

.borderRow {
    width: 50px;
    height: 20px;
}

.intersectionRow {
    width: 20px;
    height: 20px;
}

/*

/* Élément vide */
.cell-0 {
    background-color: white;
}
/* Sortie du niveau */
.cell-1 {
    background-color: greenyellow;
}
/* Bordures */
.cell-2 {
    background-color: black;
}
/* Position du laser */
.cell-3 {
    background-color: red;
}
/* Mines */
.cell-4 {
    background-color: blue;
}
/* Port de piratage caméra */
.cell-5 {
    background-color: yellow;
}
/* Champ de vision caméra */
.cell-6 {
    background-color: orange;
}
/* Position du joueur */
.cell-7 {
    background-color: cyan;
}